.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: absolute;
  bottom: 60px;
  height: clamp(7.375rem, 5.223rem + 9.18vw, 9.625rem);
  width: 100%;
  z-index: $z-index2;
  background-color: rgb(13 17 39 / 80%);

  @media (max-width: $screen-tablet) {
    left: 0;
    bottom: 0;
  }
}

.item {
  color: $linear-color;
  font-size: clamp(1rem, 0.522rem + 2.04vw, 1.5rem);
  line-height: 1.4;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  span {
    color: $accent2-color;
  }
}
