// // Размеры экрана
$screen-mobile: 767px;
$screen-tablet: 1728px;

// Fonts
$font-main: "Nunito", sans-serif;

// Colors
$accent-color: #5967D1;
$accent-color-hover: #6779FF;
$accent2-color: #EA5D2F;
$rare-color: #666566;
$light-color: #fff;
$primary-color: #0A0C13;
$linear-color: #D5CFE6;
$light-bg: #F1F3FF;

// z-index
$z-index1: 10;
$z-index2: 20;
$z-index3: 50;
$z-index4: 100;
$z-index5: 1000;

